.login {
    width: 50%;
    padding-top: 80px;
    padding-left: 60px;
    text-align: start;
}

.login h2 {
    padding-left: 8px;
    margin-left: 0;
}

.login label {
    padding-left: 8px;
    margin-block: 15px 5px;
}

.login .loginForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 20px;
}

.login input {
    width: 500px;
    height: 40px;
    border: 1px solid var(--black);
    padding: 10px;
    margin-inline: 10px;
    background-color: #f1f1f1;
}

.login button {
    width: 120px;
    height: 40px;
    border: none;
    background-color: var(--black);
    color: var(--white);
    font-size: 16px;
    margin-inline: 10px;
    margin-block: 25px;
    cursor: pointer;
}

.login .message {
    background-color: var(--black);
    width: 500px;
    color: var(--white);
    padding: 15px;
    margin-left: 10px;
}
.pwdDiv {
    display: flex;
    justify-content: end;
    align-items: center;
}
.pwdDiv span {
    position: absolute;
    padding-right: 20px;
}

.loginForm .forgot {
    padding: 8px 0 0 8px;
    text-decoration: underline;
    cursor: pointer;
    color: var(--black);
}

@media(max-width: 820px) {
    .login input {
        width: 300px;
        height: 30px;
    }
    .login button {
        height: 30px;
        width: 90px;
    }
}