.error {
    padding-top: 100px;
}
.error div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 1rem;
}
.error input {
    width: 400px;
    height: 40px;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}

@media(max-width: 720px) {
    .error input {
        width: 250px;
    }
    .error h1 {
        font-size: 16px;
    }
}