.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100vh;
    min-height: 90vh;
    text-align: center;
    overflow: hidden;
}
.title {
    color: var(--black);
    padding-block: 1.5rem 0;
    font-size: 2rem;
    text-align: center;
}

@media (max-width: 720px) {
    
}