.banner {
    height: 100vh;
    min-width: 100vh;
    /* background-image: url('home-poster.png'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.banner h1 {
    margin-bottom: 25px;
    color: white;
    text-shadow: 2px 2px 10px #4a4a4a;
    font-size: 3.75rem;
}

@media (max-width: 720px) {
    .banner h1 {
        font-size: 2.5rem;
    }
}