.bestRated {
    display: flex;
    justify-content: center;
}
.bestRated div {
    width: 950px;
    height: 500px;
}
.posters{
    width: 90%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

@media(max-width: 1070px) {
    .bestRated div {
        width: 660px;
        height: 340px;
    }
}
@media(max-width: 780px) {
    .bestRated div {
        width: 420px;
        height: 220px;
    }
    .posters {
        width: 400px;
    }
}