.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 10px;
    width: 100%;
    height: 55px;
    position: fixed;
    background-color: var(--primary);
    z-index: 9999;
}

.logo img {
    height: 50px;
    width: auto;
}

.links{
    width: 80%;
    display: flex;
    justify-content: end;
}
.links a {
    text-decoration: none;
    margin: 0.5rem;
    color: var(--white);
    transition: 0.5s ease;
}
.links a:hover {
    /* text-decoration: underline; */
    scale: 1.1;
}

@media (max-width: 1020px) {
    .menuBtn {
        width: 24px;
        height: 24px;
        cursor: pointer;
        position: absolute;
        right: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        margin-right: 15px;
    }
    .menuBtn .row {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
    }
    .links {
        display: none;
    }
    .show {
        display: flex;
        width: 50%;
        height: auto;
        padding: 10px;
        position: absolute;
        top: 55px;
        right: 0;
        background-color: var(--primary);
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .show {
        width: 100%;
    }
}