.verticalCard {
    width: 155px;
    height: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 1rem;
}
.verticalCard img {
    width: 155px;
    height: 211px;    
}
.verticalCard .info {
    padding: 0.5rem;
    height: 50px;
    color: var(--black);
}
.verticalCard .info:hover {
    text-decoration: underline;
    cursor: pointer;
}
.verticalCard .favorite {
    width: 25px;
    height: auto;
    position: absolute;
    margin: 5px;
    color: white;
    cursor: pointer;
}

@media(max-width: 1070px) {
    .verticalCard {
        width: 120px;
    }
    .verticalCard img {
        width: 120px;
        height: 170px;
    }
}
@media(max-width: 780px) {
    .verticalCard {
        width: 155px;
        height: 250px;
    }
    .verticalCard img {
        width: 155px;
        height: 211px;
    }
}